* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.unit {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 1440px;
    height: 100vh;
    background-color: #FFFFFF;
    .main {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        .picture {
            width: 505px;
            height: 330px;
            background-image: url('/frontend-recruitment-task/images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_4_3\,c_fill\,g_auto__c_scale\,w_694.jpg');
            background-size: cover;
            background-position: center;
        }

        .content{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 380px;
            height: 250px;
            h1 {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 42px;
                color: #121212;
            }
            p {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 300;
                line-height: 150%;
            }
            button {
                width: 128px;
                height: 48px;
                background-color: #E4C1AE;
                border: none;
                border-radius: 32px;
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 100%;
                color: #FFFFFF;
            }
            button:hover {
                background-color: #F2E0C9;
            }

        }
    }

    .modal-shadow {
        display: none;
        position: fixed; 
        z-index: 1; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgb(18,18,18); 
        background-color: rgba(18,18,18,0.5); 
        .modal {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            position: absolute;
            top: 50%;  
            left: 50%; 
            transform: translate(-50%, -50%);
            background-color: #FFFFFF;;
            width: 100%;
            height: 100%;
            padding-left: 5vw;
            padding-right: 5vw;
            opacity: 1;
            h1 {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 42px;
                line-height: 120%;
                color: #121212;
            }
            p {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 150%;
                color: #121212;
            }
            .fa-x {
                position: absolute;
                top: 4vh;
                right: 4vh;
            }
            button {
                display: none;
                width: 128px;
                height: 48px;
                background-color: #E4C1AE;
                border: none;
                border-radius: 32px;
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 100%;
                color: #FFFFFF;
            }
            .loader{
                display: none;
                width: 100px;
                height: 100px;
                background-image: url('/images/Spinner.gif');
                background-size: cover;
            }
            .table {
                font-family: 'Roboto', sans-serif;
                font-size: 10px;
                line-height: 15px;
                margin: auto;
                text-align: center;
                color: black;
                }
            .tableHeaderRow {
                color: lightseagreen;
                font-weight: bold;
            }
                
        

            
        }
    }
}
@media (max-width: 899px) {
    
    .main{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
  }
@media (min-width: 900px)  {
    .main{
        flex-direction: row;
    }
  }

@media (max-width: 420px)   {
    .picture{
        
        width: 320px;
        height: 200px;
    }
    .content {
        width: 320px;
        height: 200px;
      }

}